body {
    background-color: grey;
}

.apitext {
    display: block;
    text-align: center;
    margin-top: 10%;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; 
}